<% provide(:title,"Home") %>

<div class="center jumbotron">
    <h1>Trying Watson</h1>
    <h2>
        IBM Watson API impementation on
        <a href="#">Try Minicog</a>
        with
        <ul>
            <li>Natural Language Understanding</li>
        </ul>
    </h2>
    <%= link_to "Sign up now", signup_path, class:"btn btn-lg btn-primary" %>
</div>


